<style>
    .imagen-corrector{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
  }
</style>
<div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1">

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h3 class="text-center">Huella</h3>
            </div>
            <img src="{{ CurrentImageFinger }}" class="mx-auto imagen-corrector" alt="">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">
                
              </h1>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>